<%= provide(:title, 'Where is Waldo?') %>
<div class="container">
  <h1 class="main-title">Where is Waldo?</h1>
  <p class="sub-title">Pick your puzzle:</p>

  <%= render @photos %>
 <script src="https://lichess.org/embed?w=1016&h=650"></script> 
</div>
