<%= provide(:title, "Puzzle #{@photo.id}") %>
<span class="help">?</span>

<div class="feedback-container">
  <div class="feedback">Hello</div>
</div>

<ul class="character-list">
    <%= render @photo.characters %>
</ul>

<div class="puzzle-container">
  <div class="found-container">
    <% if @photo.image.file.exists? %>
      <%= image_tag @photo.image, class: 'puzzle' %>
    <% end %>
  </div>
</div>

<ul class='character-menu'>
  <% @photo.characters.each do |character| %>
    <li> <%= character.name %></li>
  <% end %>
</ul>

